<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cf.carpark.dao.mapper.${__Table__}Mapper" >
  <!-- ==================  BaseResultMap   =================== -->
  ${mybatisXml.baseResultMap}
  <!-- ==================  Example_Where_Clause   =================== -->
  ${mybatisXml.exampleWhereClause}
  <!-- ==================  Update_By_Example_Where_Clause   =================== -->
  ${mybatisXml.updateByExampleWhereClause}
  <!-- ==================  Base_Column_List  =================== -->
  ${mybatisXml.baseColumnList}
  <!-- ==================  selectByExample  =================== -->
  ${mybatisXml.selectByExample}
  <!-- ==================  selectByPrimaryKey  =================== -->
  ${mybatisXml.selectByPrimaryKey}
  <!-- ==================  deleteByPrimaryKey  =================== -->
  ${mybatisXml.deleteByPrimaryKey}
  <!-- ==================  deleteByExample  =================== -->
  ${mybatisXml.deleteByExample}
  <!-- ==================  insert  =================== -->
  ${mybatisXml.insert}
  <!-- ==================  insertSelective  =================== -->
  ${mybatisXml.insertSelective}
  <!-- ==================  countByExample  =================== -->
  ${mybatisXml.countByExample}
  <!-- ==================  updateByExampleSelective  =================== -->
  ${mybatisXml.updateByExampleSelective}
  <!-- ==================  updateByExample  =================== -->
  ${mybatisXml.updateByExample}
  <!-- ==================  updateByPrimaryKeySelective  =================== -->
  ${mybatisXml.updateByPrimaryKeySelective}
  <!-- ==================  updateByPrimaryKey  =================== -->
  ${mybatisXml.updateByPrimaryKey}

</mapper>